* {
    margin: 0;
    padding: 0;
}

body {
    background: #1c1c1c;
}

.wrapper {
    display: grid;
    grid-template: 1fr;
    justify-items: center;
    padding-top: 5rem;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    color: #fff;
}

h2 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    color: #fff;
}

.numbers-field {
    background-color: #1c1c1c;
    border: none;
    color: #fff;
    font-size: 30px;
    height: 50px;
    width: 186px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 45px;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: black;
    margin: 5px 5px;
    border: none;
    border-radius: 50%;

}

.tools {
    color: black;
    background-color: #d4d4d2;
}

.operation {
    background-color: #ff9500;
}

.number, .decimal, .enter {
    background-color: #505050;
}


